* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
    background: #111;
}

nav .logo {
    color: #fff;
    font-size: 24px;
}

nav .logo span {
    color: #4da6ff;
}

nav ul {
    display: flex;
    gap: 20px;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
}

nav ul li a:hover {
    color: #4da6ff;
}

/* HERO */
.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #181818;
    color: #fff;
}

.hero span {
    color: #4da6ff;
}

.btn {
    margin-top: 20px;
    background: #4da6ff;
    padding: 10px 20px;
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
}

/* SECTIONS */
section {
    padding: 60px 40px;
}

h2 {
    margin-bottom: 20px;
    font-size: 32px;
}

/* SKILLS */
.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 20px;
}

.skill-box {
    padding: 20px;
    background: #f3f3f3;
    border-radius: 8px;
}

.project {
    background: #f0f0f0;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
}

/* FOOTER */
footer {
    background: #111;
    padding: 20px;
    text-align: center;
    color: #ccc;
}
